.form{
      display: grid;
      padding-top: 10em; 
      align-items: center;
      justify-items: center;
}
.input{
   outline: none;
      width: 300px;
      padding: 20px;
      border-radius: 5px;
      border-color: none;
      border:0;
      box-shadow: 2px 5px 5px  rgb(93, 92, 92);

}
.tombol{
      
      outline: none;
      padding: 20px;
      border-radius: 5px;
      margin-left: 5px;
      background-color: rgb(12, 139, 0);
      color: white;
      border-color: none;
      border:0;
      box-shadow: 2px 5px 5px  rgb(51, 51, 51);


}


.inputButton{
      display: flex;
}


 .delete{
      background-color: rgb(139, 1, 1);
      color: white;
}
.edit{
      background-color: rgb(165, 154, 1);
      color: white;
}

.list{
     
      width: 460px;
      padding: 5px;
   

     
     

}
.list .key{
      background-color: rgb(193, 233, 251);
      margin-top: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 10px;
     padding-left: 20px;



   
}
.edit, .delete{
      border-radius: 5px;
}




